.page-title{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

td, th{
    border: 2px solid white;
}

tr:nth-child(odd){
    background-color: blanchedalmond;
}

tr:nth-child(even){
    background-color: lightyellow;
}

table{
    width: 100%;
    text-align: center;
}

.no{
    width: 3%;
}

.name{
    width: 72%;
}

.action{
    width: 15%;
}

.red-button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-left: 2px;
}

.red-button:hover{
    background-color: darkred;
}

.orange-button{
    background-color: orange;
    border: none;
    border-radius: 4px;
    padding: 11px 16px;
    margin-right: 2px;
    text-decoration: none;
}

.orange-button:hover{
    background-color: darkorange;
    text-decoration: none;
}

.add-box{
    margin-left: 10px;
}