body{
    margin: 0;
}

.content{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-box{
    margin: 20px;
    display: flex;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.product-image{
    margin: 20px;
}

.desc-box{
    margin: 20px;
}